@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: replace instances of this in code with tailwind vars */
:root {
  /* Primary Colors */
  --primary-color: #E3350D; /* Buttons, Links, Active */
  --primary-color-active: #C12F0A; /* on click */
  --secondary-color-1: #F5AC78; /* Secondary Buttons, Hover, Highlight */
  --secondary-color-2: #4E82B4; /* Clickable Icons, info, progress */

  /* Background Colors */
  --main-background-color: #121212;
  --content-background-color: #1E1E1E;

  /* Font Colors */
  --primary-font-color: #FFFFFF;
  --secondary-font-color: #CCCCCC;

  /* Utility Colors */
  --success-color: #388E3C;
  --error-color: #D32F2F;
  --warning-color: #FBC02D;
  --info-color: #1976D2;

  /* Accent Colors for Pokémon Types */
  --water: #6890F0;
  --fire: #F08030;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice-blue: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
  --normal: #A8A878;
  --fighting: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-font-color);
}

/* Pokemon List */

/* .pokelist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1000px;
}

.pokelist-mon {
  list-style-type: none;
  text-align: center;
  width: 150px;
  height: 130px;
  border-radius: 10px;
  box-shadow: -3px 3px 10px black;
  background-color: #6e499f;
}

.pokelist-mon img,
.pokelist-mon p {
  background-color: transparent;
}

.pokelist-mon:hover {
  background-color: #40295d;
}

.pokelist-mon p {
  color: black;
  margin-top: 0;
  font-weight: bold;
}

.pokelist-mon img {
  max-width: 100px;
} */
